NODE_ENV="production"
APP_NAME="freelance-hub-backend"
APP_PORT=3000

DATABASE_URL="-------------------"

FRONTEND_URL="http://localhost:3000"
CORS_ORIGINS="http://localhost:3000"

JWT_SECRET="-------------------"
JWT_REFRESH_SECRET="-------------------"

KAKAO_CLIENT_ID="-------------------"
KAKAO_REDIRECT_URI="-------------------"